@import "common-classes.scss";
@import "variables.scss";

#app {
  margin: 0 auto;
  font-weight: normal;
  background-color: #f5f2ea;
  font-family: "helvetica";
}

@font-face {
  font-family: "helvetica";
  src: url("@/assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica";
  font-weight: 700;
  src: url("@/assets/fonts/Helvetica-Bold.ttf") format("truetype");
}
.n-button {
  border-radius: 8px;
}
.n-dialog__icon {
  color: #fdc886 !important;
}
.n-card > .n-card-header .n-card-header__main {
  font-weight: 600;
  font-style: italic;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4a2271;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 1440px) {
  .modal {
    width: 600px;
  }
}

@media screen and (max-width: 598px) {
  .modal {
    width: 500px !important;
  }
}
@media screen and (max-width: 500px) {
  .modal {
    width: 350px !important;
  }
}
@media screen and (max-width: 350px) {
  .modal {
    width: 300px !important;
  }
}
