@import "common-classes.scss";
@import "variables.scss";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: #f5f2ea;
  font-family: "helvetica";
  height: 100vh;
}

@font-face {
  font-family: "helvetica";
  src: url("@/assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica";
  font-weight: 700;
  src: url("@/assets/fonts/Helvetica-Bold.ttf") format("truetype");
}
.n-button {
  border-radius: 8px;
}
.n-dialog__icon {
  color: #fdc886 !important;
}
.n-card > .n-card-header .n-card-header__main {
  font-weight: 600;
  font-style: italic;
}
