$bg-white: #FFFFFF;
$yellow: #f59d0b;
$dark-yellow: #ab7900;
$bg-black: #0f0f0f;
$light-grey-20: #bab8ba;
$green-blue: #06B48B;
$primary-btn-purple: #7248EE;
$body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
$msger-bg: #fff;
$border: 2px solid #ddd;
$left-msg-bg: #ececec;
$right-msg-bg: #579ffb;
